Web References/MoMAWebServices/MoMASubmit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mono-project.com/MoMASubmit/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mono-project.com/MoMASubmit/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mono-project.com/MoMASubmit/">
      <s:element name="SubmitResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="results" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitResultsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitResultsSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitResults" />
  </wsdl:message>
  <wsdl:message name="SubmitResultsSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="MoMASubmitSoap">
    <wsdl:operation name="SubmitResults">
      <wsdl:input message="tns:SubmitResultsSoapIn" />
      <wsdl:output message="tns:SubmitResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoMASubmitSoap" type="tns:MoMASubmitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitResults">
      <soap:operation soapAction="http://mono-project.com/MoMASubmit/SubmitResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MoMASubmitSoap12" type="tns:MoMASubmitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitResults">
      <soap12:operation soapAction="http://mono-project.com/MoMASubmit/SubmitResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoMASubmit">
    <wsdl:port name="MoMASubmitSoap" binding="tns:MoMASubmitSoap">
      <soap:address location="http://jpobst.com/pobst/moma/MoMASubmit.asmx" />
    </wsdl:port>
    <wsdl:port name="MoMASubmitSoap12" binding="tns:MoMASubmitSoap12">
      <soap12:address location="http://jpobst.com/pobst/moma/MoMASubmit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>